*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

.header{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:#1e2a38;
}

.menu{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.menu a{
color:white;
text-decoration:none;
padding:8px 12px;
border-radius:20px;
background:rgba(255,255,255,0.05);
transition:0.3s;
}

.menu a:hover{
background:#00bcd4;
color:black;
transform:translateY(-2px);
}

.container{
padding:80px 8%;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:20px;
}

.card{
background:#111827;
padding:20px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
border:1px solid #00bcd4;
}

footer{
text-align:center;
padding:30px;
background:#111827;
}